#insideTheBook__list {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}

#insideTheBook__carousel {
  @include media-breakpoint-up(sm) {
    display: block;
  }
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: $gray-700;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: $gray-700;
}
