.main-cta {
  margin: 50px 0;
  @media (min-width: 768px) {
    position: absolute;
    bottom: 10rem;
    width: 100%;
    margin: 0;
    height: 110px;
  }
}

a.cta {
  border: 2px solid #00b5b5;
  color: #00b5b5;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  padding: 15px 30px;
  text-transform: uppercase;
  text-decoration: none;
}

.cta-buy {
  //margin-top: 6rem;
}

a.cta-buy-disabled {
  border: 2px solid #cccccc;
  color: #cccccc;
}

.cta-buy-disabled__note {
  margin-top: 6rem;
  color: #cccccc;
  font-style: italic;
}

a.cta-buy > span {
  margin-left: 10px;
}
.cta-materials {
  margin-top: 32px;
}
a.cta-seeMore {
  padding: 12px 26px;
  @include media-breakpoint-up(md) {
    margin-left: 14px;
  }
}
