.larp-preview {
  margin-bottom: 4rem;
  @include media-breakpoint-up(md) {
    margin-bottom: 3rem;
  }
}

.larp-parameter__value {
  width: 100%;
}

.gameModal__body {
  padding: 50px 10px;
  text-align: center;
  @include media-breakpoint-up(md) {
    text-align: left;
  }
}

.gameModal__image {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}

.gameModal__icon {
  width: 20%;
  margin: 12px;
}

.gameModal_line {
  margin: 28px 0px 20px 0px;
}

.gameModal__close {
  font-size: 7rem;
  position: absolute;
  top: -16px;
  left: 10px;
}

.gameModal__note {
  display: inline-block;
  margin-top: 12px;
  color: $gray-600;
  cursor: pointer;
  border-bottom: 1px dotted $gray-600;
}

.popover {
  font-size: 1.2rem;
}
